/* COLORS */
/* MARGINs */
/*SCREEN SIZES*/
.contener {
  max-width: 528px;
  margin: 0 auto;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.slesh {
  margin-right: 4px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin: 0px 0px 24px 0px;
}

.title__text {
  color: #888;
}

.divider {
  margin-top: 80px;
  margin-bottom: 80px;
  opacity: 0.08;
  height: 1px;
  background-color: #fff;
  border: 0px;
  border-radius: 100px;
}

.header {
  margin-top: 40px;
  line-height: 100%;
}
.header .myinfo--wrapper {
  display: flex;
  gap: 16px;
}
.header .myinfo--wrapper .myinfo__text .myinfo__text-name {
  padding-bottom: 10px;
}

.cases {
  margin-top: 100px;
}

/*PROJECT ITEM*/
.project__item {
  padding: 30px 40px 0px 40px;
  background-color: #272727;
  border-radius: 8px;
  max-height: 359px;
  overflow: hidden;
  /*PROJECT TITLE*/
  /*TOP*/
  /*BOTTOM*/
  /*SEE CASE*/
  /*COMING SOON*/
}
.project__item .project__item-title-wrapper {
  display: flex;
  justify-content: space-between;
}
.project__item .project__item-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.project__item .project__item-top {
  display: flex;
  gap: 12px;
}
.project__item .project__item-top .project__item-birka {
  font-size: 16px;
  font-weight: 600;
}
.project__item .project__item-top .project__item-data {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}
.project__item .project__item-bottom {
  font-size: 20px;
  font-weight: 450;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.project__item .project__item-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
  background-color: rgba(25, 160, 252, 0.06);
  color: #19A0FC;
  height: 100%;
  padding: 6px 8px 6px 8px;
  border-radius: 4px;
}
.project__item .comingsoon {
  background-color: rgba(136, 136, 136, 0.06);
  color: rgba(255, 255, 255, 0.8);
}
.project__item .project__item-img {
  max-width: 448px;
  width: 100%;
  margin-top: 48px;
}
.project__item .project__item-img img {
  max-width: inherit;
  width: inherit;
}

.shots .section-title {
  margin-bottom: 16px;
}
.shots .project__item-title-wrapper {
  align-items: center;
}
.shots .project__wrapper {
  margin-top: 32px;
}
.shots .project__item {
  max-height: 275px;
}
.shots .project__item-img {
  margin-top: 30px;
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact .contact__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact .contact__links .nav-link {
  display: block;
}
.contact .contact__links .nav-link::after {
  content: " " url(/img/arrow-up-right.svg);
}

@media (max-width: 495px) {
  .project__item-title-wrapper {
    flex-direction: column;
    gap: 18px;
  }
  .project__item-title-wrapper .project__item-button {
    align-self: flex-start;
  }
  .cases .project__item {
    padding: 24px 24px 0px 24px;
  }
  .cases .project__item-img {
    margin-top: 38px;
  }
  .shots .project__item {
    padding: 24px 24px 0px 24px;
  }
  .shots .project__item-title-wrapper {
    align-items: flex-start;
  }
}
body {
  background-color: #1E1E1E;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  color: white;
  margin: 0px 16px 0px 16px;
}

/* LINKI */
.nav-link {
  color: #19A0FC;
  text-decoration: none;
  line-height: 100%;
}
.nav-link:hover {
  text-decoration: underline;
}