.cases{
   margin-top: $section-margin;
}

/*PROJECT ITEM*/
.project__item{
   padding: 30px 40px 0px 40px;
   background-color: $bg-pr;
   border-radius: 8px;

   max-height: 359px;
   overflow: hidden;

   .project__item-title-wrapper{
      display: flex;
      justify-content: space-between;
   }

   /*PROJECT TITLE*/
   .project__item-title{
      display: flex;
      flex-direction: column;
      gap:12px;
   }

   /*TOP*/
   .project__item-top{
      display: flex;
      gap:12px;
      
      .project__item-birka{
         font-size: 16px;
         font-weight: 600;
      }

      .project__item-data{
         font-size: 12px;
         font-weight: 600;
         color: $tertiary;
      }
   }

   /*BOTTOM*/
   .project__item-bottom{
      font-size: 20px;
      font-weight: 450;
      line-height: 30px;
      color: $secondary;

      max-width:70%;
      
   }

   /*SEE CASE*/
   .project__item-button{
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      white-space: nowrap;

      background-color: $bg-accent;
      color:$accent;

      height: 100%;
      padding: 6px 8px 6px 8px;
      border-radius: 4px;
   }

   /*COMING SOON*/
   .comingsoon{
      background-color: $bg-cs;
      color:$secondary;
   }

   .project__item-img{
      max-width: 448px;
      margin-top: 48px;

      img{
         max-width: inherit;
      }
   }

}