/* COLORS */
$primary:#fff;
$secondary:rgb(255,255,255,0.8);
$tertiary:rgb(255,255,255,0.5);
$bg-pr:#272727;
$accent:#19A0FC;
$bg-accent:rgba(25, 160, 252, 0.06);
$bg-cs:rgba(136, 136, 136, 0.06);
$text-sec:#888;

/*FONTS*/



/* MARGINs */
$section-margin:100px;