.contact{
   margin-top: $section-margin;
   margin-bottom: $section-margin;

   .contact__links{
      display: flex;
      flex-direction: column;
      gap:24px;

      .nav-link{
         display: block;

         &::after{
            content:' ' url(/img/arrow-up-right.svg);
         }
      }
   }
}