.contener{
   max-width: 528px;
   margin: 0 auto;
}

.project__wrapper{
   display: flex;
   flex-direction: column;
   gap:24px;
}

.slesh{
   margin-right: 4px;
   margin-left: 4px;
   color:rgba(255, 255, 255, 0.1);
}
.section-title{
   font-size: 24px;
   font-weight: 500;
   line-height: 100%;
   margin:0px 0px 24px 0px;
   
}

.title__text{
   color: $text-sec;
}

.divider{
   margin-top: 80px;
   margin-bottom: 80px;

   opacity:0.08;

   height: 1px;
   background-color: #fff;
   border: 0px;
   border-radius: 100px;
}