.shots{
   .section-title{
      margin-bottom: 16px;
   }

   .project__item-title-wrapper{
      align-items: center;
   }

   .project__wrapper{
      margin-top:32px;
   }
   .project__item{
      max-height: 275px;
   }
   .project__item-img{
      margin-top: 30px;
   }

}