@import '_components';
@import '_homepage';
@import '_header';
@import '_cases';
@import '_shots';
@import '_contact';


body{
   background-color: #1E1E1E;
   font-size: 18px;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   line-height: 140%;
   color:white;
}

/* LINKI */
.nav-link{
   color:#19A0FC;
   text-decoration: none;
   line-height: 100%;
   &:hover{
      text-decoration: underline;
   }
}