.header {
   overflow: hidden;
}

.header__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;

   gap: 140px;
   padding: 3rem 0 5rem 0;

   text-align: center;
}

//H1 - HOMEPAGE
h1 {
   font-size: 4.4rem;
   font-weight: 600;
   line-height: 97%;
   letter-spacing: -0.06em;

   span {
      color: #ffb800;
      display: block;
   }
}

@media (max-width: 632px) {
   h1 {
      font-size: 10.4vw;
   }
}

//HEADER INFO + ANIMATION
.header__info {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: center;

   margin: 1rem 0 3rem 0;

   position: relative;

   //ICON POSITION
   button {
      position: absolute;
      top: 0px;
      right: 0px;

      background-color: rgb(255, 255, 255, 0);
      border: 0px;

      cursor: pointer;
   }

   p {
      font-size: 19px;
      line-height: 130%;
      word-spacing: -0.02px;
   }

   // IMAGE + ANIMATION
   .hero-image {
      visibility: hidden;
      position: absolute;
      top: 150px;
      opacity: 0;

      transition: all 0.2s ease;
   }
   .show {
      visibility: visible;
      top: 90px;
      opacity: 1;
   }
}

//WHAT IS THIS
.what-is-this {
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.8rem;

   &__line {
      width: 1px;
      height: 50px;
      background: rgba(255, 255, 255, 0.16);
   }
   &__text {
      font-size: 18px;
      line-height: 135%;
      color: rgb(255, 255, 255, 0.5);
   }
}

//MOBILE - 750px _________________________________________________
@media (max-width: 750px) {
   .header__info {
      p {
         width: 80vw;
      }
   }
}

//MOBILE - 600px
@media (max-width: 600px) {
   .header__wrapper {
      align-items: start;
      text-align: left;
      gap: 100px;

      padding: 1rem 0 2rem 0;

      .header__info {
         align-items: start;

         span {
            justify-content: start;
         }
      }

      .links__line {
         width: 100%;
         justify-content: space-between;

         a {
            font-size: 1rem;
         }
      }
   }

   .header__info {
      gap: 1rem;
      p {
         font-size: $px16;
      }
   }

   .what-is-this {
      align-items: start;
      width: 200px;

      &__text {
         font-size: 12px;
      }
   }
}
