.portfolio {
   &__big-job {
      width: 25.5vw;
   }

   &__core-job-details {
      width: 100%;
      padding-top: 6.3vw;
      grid-row: span 2;
   }
}

//950px _____________________
@media (max-width: 950px) {
   .portfolio {
      &__big-job {
         width: 45vw;
      }
      &__core-job-details {
         padding-top: 0rem;
      }
   }
}
