.portfolio {
   &__small-jobs {
      width: 26vw;
   }

   &__core-job-details {
      width: 100%;
      padding-top: 7.1vw;
      grid-row: span 2;
   }
}

//950px _____________________
@media (max-width: 950px) {
   .portfolio {
      &__small-jobs {
         width: 44.5vw;
      }
      &__core-job-details {
         padding-top: 0rem;
      }
   }
}
