.portfolio {
   overflow: hidden;
   font-size: clamp(13px, 1.2vw, 100rem);
   font-weight: 400;

   &__wrapper {
      height: 100dvh;
   }
   &__padding {
      height: 100%;

      padding: 2rem 2.5rem;
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 2fr 14.5vw;
      grid-template-rows: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;
      height: 100%;
   }

   &__core-job-name {
      grid-column: 1 / span 2;
   }
}

@media (max-width: 1077px) {
   .portfolio__grid {
      grid-template-columns: 1fr 2fr 160px;
   }
}

//950px _____________________
@media (max-width: 950px) {
   .portfolio {
      &__wrapper {
         height: auto;
      }
      // &__padding {
      //    padding: 2rem 2.5rem;
      // }
      &__grid {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
      }
      &__core-job-name {
         flex: 1;
      }
      &__navigation {
         order: 4;
      }
      &__contact {
         order: 5;
      }
   }
}

//450px _____________________
@media (max-width: 450px) {
   .portfolio {
      &__padding {
         padding: 1rem 1rem;
      }
   }
}
