.archive {
   font-size: $px18;
   &__wrapper {
      display: flex;
      flex-direction: column;

      a {
         color: #fff;
         text-decoration: none;
         :hover {
            color: rgb(255, 255, 255, 0.5);
         }
      }
   }

   &__grid {
      display: grid;

      grid-template-columns: 0.4fr 0.8fr 2fr 0.1fr;
      grid-template-rows: auto;

      padding: 1rem 0rem 0.5rem 0rem;

      border-bottom: 1px solid rgb(255, 255, 255, 0.1);
   }
}

@media (max-width: 640px) {
   .archive__grid {
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: auto;
      row-gap: 0.5rem;

      line-height: 110%;
   }

   .archive__grid-item:nth-child(1),
   .archive__grid-item:nth-child(2),
   .archive__grid-item:nth-child(3) {
      grid-column: 1 / span 1;
   }

   .archive__grid-item:nth-child(4) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: flex-end; /* Wyrównanie do prawej */
      align-items: flex-start; /* Wyrównanie do góry */
   }
}
