.close-button {
   display: flex;
   justify-content: flex-start;
   > div {
      padding: 2.5rem;
      cursor: pointer;
      font-size: clamp(1rem, 1.5vw, 100rem);
   }
}

//550px _____________________
@media (max-width: 550px) {
   .close-button {
      > div {
         padding: 1rem;
      }
   }
}
