//LINK
.link {
   position: relative;

   text-decoration: none;
   font-size: $px18;
   line-height: 1;
   color: $link;

   padding-bottom: 0.2rem;
   border-bottom: 2px solid $link_underline;

   &:hover {
      border-bottom: 2px solid $link;
   }

   //WHITE LINK
   &--white-link {
      color: white;
      border-bottom: 2px solid $outline;

      &:hover {
         border-bottom: 2px solid rgb(255, 255, 255);
      }
   }
}
//WHITE LINKS IN TEXT with underline
.link--in-text {
   color: #fff;
   text-decoration: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.16);
   &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 1);
   }
}

.project-link {
   padding-top: 1rem;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 3px;

   div {
      font-size: 12px;
      color: rgb(255, 255, 255, 0.5);
   }
}

//LINK in row line
.links__line {
   display: flex;
   gap: 24px;
}

// MOBILE _____________________________________________________
@media (max-width: 528px) {
   .link {
      &:hover {
         border-bottom: 2px solid $link_underline;
      }

      &--white-link:hover {
         border-bottom: 2px solid $outline;
      }
   }
}
