@use "variables" as *;

.link {
   font-family: IBMPlexMono;
   font-size: clamp(14px, 1vw, 100rem);
   color: $white;
   text-transform: uppercase;

   text-decoration: none;
   border-bottom: 1px solid $white-o10;

   text-wrap: nowrap;

   &:hover {
      border-bottom: 1px solid $white;
   }

   &--nav {
      color: $accent;
      border-bottom: 1px solid $accentO10;

      &:hover {
         border-bottom: 1px solid $accent;
      }
   }
}

@media (max-width: 950px) {
   .link {
      font-size: clamp(12px, 1.5vw, 100rem);
   }
}
