@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* Начальное состояние */
.a-nr1,
.a-nr2,
.a-nr3,
.a-nr4,
.a-nr5,
.a-nr6,
.a-nr7,
.a-nr8,
.a-nr9,
.a-nr10 {
   opacity: 0;
}

/* Анимация начнется только после добавления класса loaded */
.loaded .a-nr1,
.loaded .a-nr2,
.loaded .a-nr3,
.loaded .a-nr4,
.loaded .a-nr5,
.loaded .a-nr6,
.loaded .a-nr7,
.loaded .a-nr8,
.loaded .a-nr9,
.loaded .a-nr10 {
   animation: fadeIn 0.5s ease-out forwards;
}

.loaded .a-nr1 {
   animation-delay: 0s;
}
.loaded .a-nr2 {
   animation-delay: 0.2s;
}
.loaded .a-nr3 {
   animation-delay: 0.4s;
}
.loaded .a-nr4 {
   animation-delay: 0.6s;
}
.loaded .a-nr5 {
   animation-delay: 0.8s;
}
.loaded .a-nr6 {
   animation-delay: 1s;
}
.loaded .a-nr7 {
   animation-delay: 1.2s;
}
.loaded .a-nr8 {
   animation-delay: 1.4s;
}
.loaded .a-nr9 {
   animation-delay: 1.6s;
}
.loaded .a-nr10 {
   animation-delay: 1.8s;
}
