//FONT______________________________________________
:root {
   font-family: Inter, sans-serif;
   font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
   :root {
      font-family: InterVariable, sans-serif;
   }
}

@font-face {
   font-family: "IBMPlexMono"; /* Укажите произвольное название шрифта */
   src: url("/IBMPlexMono-Regular.ttf") format("truetype");
   font-weight: normal; /* Задайте начертание (normal, bold, etc.) */
   font-style: normal; /* Задайте стиль (normal, italic, etc.) */
}

//BODY______________________________________________
body {
   color: $white;
   font-weight: 400;
   line-height: 140%;
   letter-spacing: -0.02em;
   font-size: clamp(1rem, 1.17vw, 100rem);
}
//950
@media (max-width: 950px) {
   body {
      font-size: clamp(14px, 1.8vw, 100rem);
   }
}

//HEADING 1______________________________________________
h1 {
   font-size: clamp(56px, 5.3vw, 1000px);
   font-weight: 400;
   line-height: 100%;
   letter-spacing: -0.06em;

   span {
      color: $accent;
   }
}
@media (max-width: 950px) {
   h1 {
      font-size: clamp(40px, 6vw, 100px);
   }
}

//Birks__________________________________________________
.birka {
   font-family: IBMPlexMono;
   font-size: clamp(13px, 1vw, 100rem);
   color: $white;
   text-transform: uppercase;
}

@media (max-width: 950px) {
   .birka {
      font-size: clamp(12px, 1.5vw, 100rem);
   }
}
