//TEXT
:root {
   font-family: Inter, sans-serif;
   font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
   :root {
      font-family: InterVariable, sans-serif;
   }
}

/*BODY*/
body {
   font-size: 16px;
   color: #fff;
   font-weight: 400;
   line-height: 1.4;
}

//H1 находится в хедерах

//TITLES
h2 {
   font-size: 2rem;
   font-weight: 600;
   letter-spacing: -0.03em;

   line-height: 100%;
}

h3 {
   font-size: $px20;
   font-weight: 600;

   letter-spacing: -0.03em;
}

.projectinfo__title {
   font-size: $px16;
   font-weight: 600;

   padding-bottom: 4px;
}

//Paragraps
p {
   font-size: $px18;

   &.text-big {
      font-size: 23px;
      line-height: 130%;
   }
}

//BIRKA
.birka {
   font-size: $px12;
   text-transform: uppercase;

   font-weight: 500;
}

@media (max-width: 450px) {
   p {
      &.text-big {
         font-size: 20px;
      }
   }
}
