/*BODY*/
body {
   background-color: $bg;
}

//PADING-GLOBAL_______________________________________________________
.padding-global {
   height: 100%;
   padding: 2.5rem 2.5rem;
}

//650px-exeption
@media (max-width: 650px) {
   .padding-global--projects {
      padding-top: 0rem;
   }
}

//550px
@media (max-width: 550px) {
   .padding-global {
      padding: 1rem 1rem;
   }
}
//__________________________________________________________________
