//LINK
.link {
   position: relative;

   text-decoration: none;
   font-size: $px18;
   line-height: 1;
   color: $link;

   padding-bottom: 0.2rem;
   border-bottom: 2px solid $link_underline;

   &:hover {
      border-bottom: 2px solid $link;
   }

   //WHITE LINK
   &--white-link {
      color: white;
      border-bottom: 2px solid $outline;

      &:hover {
         border-bottom: 2px solid rgb(255, 255, 255);
      }
   }
}

.link--in-text {
   color: #fff;
   text-decoration: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.16);
   &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 1);
   }
}

@media (max-width: 528px) {
   .link {
      &:hover {
         border-bottom: 2px solid $link_underline;
      }

      &--white-link:hover {
         border-bottom: 2px solid $outline;
      }
   }
}

//LINKs__WRAPPER
.links__line {
   display: flex;
   gap: 24px;
}
