//TEXT
@font-face {
   font-family: "Inter";
   src: url("/fonts/InterVariable.ttf") format("truetype");
}

/*BODY*/
body {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   color: $text;
   font-weight: 400;
   line-height: 1.4;
}

//TITTLEs
h1 {
   font-family: "Inter", sans-serif;
   font-size: 5.2rem;
   color: $title;
   font-weight: 550;
   line-height: 95%;
   letter-spacing: -0.06em;

   span {
      color: #ffb800;
      display: block;
   }
}
//MEDIA DLA H1 находится в хедере нужной страницы

h2 {
   font-family: "Inter", sans-serif;
   font-size: $px32;
   color: $title;
   font-weight: 500;
}

h3 {
   font-family: inherit;
   font-size: $px20;
   font-weight: 400;
   color: $title;
}

h4 {
   font-family: inherit;
   font-size: $px16;
   font-weight: 500;
   color: $title;

   padding-bottom: 4px;
}

//BIRKA
.birka {
   font-size: $px12;
   text-transform: uppercase;
}
