//COLORS
$bg:#1E1E1E;
$plaszka:#272727;
$link:#19A0FC;
$link_underline:#1D2B34;
$title:#fff;
$text:#B0B0B0;
$outline: rgb(255,255,255,0.1);

//SIZES
$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px25: 1.5625rem;
$px32: 2rem;



//TEXT
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');