.archive {
   color: white;

   height: 334px;
   position: relative;

   .projects__description {
      text-align: center;
   }

   &__square {
      background-image: linear-gradient(#242424, #161616);
      position: absolute;
      height: 173px;

      left: 0;
      right: 0;
      margin: 0 auto;

      transition: transform 0.2s;
   }

   &__first {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      width: 80%;

      bottom: 0;
      z-index: 3;
   }
   &__second {
      width: 65%;

      bottom: 13%;
      z-index: 2;
   }
   &__third {
      width: 50%;

      bottom: 24%;
      z-index: 1;
   }
}

//MOBIEL ____________________
@media (min-width: 621px) {
   .archive__square {
      &:hover {
         transform: translateY(-10px);
      }
   }
}

@media (max-width: 480px) {
   .archive {
      height: 220px;

      &__square {
         height: 110px;
         padding: 0 2rem;
      }
   }
}
