.cleaning {
   display: flex;
   gap: 24px;
   margin: 0 32px 32px 32px;

   &__image {
      width: 215px;
      height: auto;
   }
}

@media (max-width: 670px) {
   .cleaning {
      gap: 16px;
      margin: 0 20px 32px 20px;

      &__image {
         width: 150px;
      }
   }
}

@media (max-width: 375px) {
   .cleaning {
      margin: 0 15px 32px 15px;

      &__image {
         width: 110px;
      }
   }
}
