.header {
   padding: 40px 0 250px 0;
   overflow: hidden;
}

.header__wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 134px;

   text-align: center;
}

//H1 - HOMEPAGE
h1 {
   font-size: 5rem;
   font-weight: 600;
   line-height: 95%;
   letter-spacing: -0.05em;

   span {
      color: #ffb800;
      display: block;
   }
}

@media (max-width: 680px) {
   h1 {
      font-size: 11vw;
   }
}

//HEADER INFO + ANIMATION
.header__info {
   display: flex;
   flex-direction: column;
   gap: 24px;
   align-items: center;

   padding-bottom: 48px;

   position: relative;

   //ICON POSITION
   button {
      position: absolute;
      top: 0px;
      right: 0px;

      background-color: rgb(255, 255, 255, 0);
      border: 0px;

      cursor: pointer;
   }

   p {
      font-size: $px20;
   }

   // IMAGE + ANIMATION
   .hero-image {
      visibility: hidden;
      position: absolute;
      top: 150px;
      opacity: 0;

      transition: all 0.2s ease;
   }
   .show {
      visibility: visible;
      top: 100px;
      opacity: 1;
   }
}

//MOBILE - 750px
@media (max-width: 680px) {
   .header__info {
      p {
         width: 80vw;
      }
   }
}

//MOBILE - 600px
@media (max-width: 600px) {
   .header {
      padding-top: 16px;
   }
   .header__wrapper {
      align-items: start;
      text-align: left;
      gap: 100px;

      .header__info {
         align-items: start;

         span {
            justify-content: start;
         }
      }

      .links__line {
         width: 100%;
         justify-content: space-between;

         a {
            font-size: 1rem;
         }
      }
   }

   .header__info {
      gap: 1rem;
      p {
         font-size: $px16;
      }
   }
}
