.mml__icon {
   padding: 1.6rem 1.8rem;
   background-color: rgba(240, 98, 71, 0.6);
   border: 1px solid rgba(255, 255, 255, 0.2);
   display: inline-block;
   border-radius: 3rem;
   backdrop-filter: blur(15px);

   position: absolute;

   transition: all 0.3s;

   svg {
      width: 8rem;
      height: auto;
      color: white;
      path {
         stroke-width: 1px;
      }
   }

   &--top {
      top: 30px;
      left: 35%;

      transform: rotate(-14deg);
   }

   &--bottom {
      bottom: 30px;
      right: 35%;

      transform: rotate(-8deg);
   }

   &--right {
      top: 80px;
      right: 7%;

      transform: rotate(15deg);

      svg {
         width: 10rem;
      }
   }
   &--left {
      bottom: 80px;
      left: 5%;

      transform: rotate(15deg);

      svg {
         width: 10rem;
      }
   }
}

//ANIMATION ______________________________________________________
@media (min-width: 670px) {
   .mml:hover {
      .mml__icon {
         background-color: rgba(240, 98, 71, 1);
         &--top {
            top: 0px;
            left: -3%;
         }

         &--bottom {
            bottom: -20px;
            right: -5%;
         }

         &--right {
            top: 0px;
            right: -7%;
         }
         &--left {
            bottom: -20px;
            left: -5%;
         }
      }
   }
}

//MOBILE ____________________________
@media (max-width: 670px) {
   .mml__icon {
      border-radius: 2rem;
      background-color: rgba(240, 98, 71, 1);

      svg {
         width: 7rem;
      }

      &--top {
         top: 0px;
         left: -7%;

         transform: rotate(-5deg);
      }

      &--bottom {
         bottom: -20px;
         right: -5%;

         transform: rotate(-5deg);
      }

      &--right {
         top: 0px;
         right: -7%;

         transform: rotate(5deg);
      }
      &--left {
         bottom: -20px;
         left: -5%;

         transform: rotate(5deg);
      }
   }

   .mml .projects__img {
      padding: 0 3rem;
   }
}

@media (max-width: 460px) {
   .mml__icon {
      border-radius: 1.5rem;
      padding: 1rem 1.2rem;
      svg {
         width: 5rem;
      }
      //TOP
      &--top {
         top: 5px;
      }
      &--right {
         top: 5px;
      }
   }
}

@media (max-width: 375px) {
   .mml__icon {
      //border-radius: 1.5rem;
      //padding: 1rem 1rem;
      svg {
         width: 4rem;
      }
   }
}

@media (max-width: 330px) {
   .mml__icon {
      //border-radius: 1.5rem;
      //padding: 1rem 1rem;
      svg {
         width: 3rem;
      }
   }
}
