//CONTENER
.projects {
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
   }

   //ITEM
   &__item {
      display: flex;
      flex-direction: column;

      background-color: inherit;
      border: 1px solid rgba(255, 255, 255, 0.1);

      overflow: hidden;

      &:hover {
         cursor: pointer;
      }
   }

   //HEADER
   &__header {
      display: flex;
      justify-content: space-between;

      padding: 24px 30px 35px 30px;
   }

   //INFO
   &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      padding-right: 20px;
   }

   //TEXT ITEMS

   //top wrapper
   &__caption {
      display: flex;
      align-items: flex-end;
      gap: 8px;
   }
   &__name {
      font-size: 1rem;
      font-weight: 590;
   }
   &__tag {
      font-size: $px12;
      font-weight: 590;
      line-height: 100%;

      padding: 4px 6px;
      border: 1px solid rgb(255, 255, 255, 0.2);
      border-radius: 5px;
   }

   &__description {
      font-size: $px32;
      font-weight: 450;
      line-height: 110%;
      letter-spacing: -0.03em;
   }

   //ITEM IMG
   &__img {
      display: flex;
      justify-content: center;

      position: relative;

      img {
         width: 100%;
      }
   }
}

//MOBILE________________________________________________

//HEADER
@media (max-width: 500px) {
   .projects__wrapper {
      gap: 1rem;
   }
   .projects__header {
      padding: 20px 20px;
   }
}

//INFO
@media (max-width: 400px) {
   .projects__info {
      padding-right: 15px;
   }
}

//DESCRIPTION
@media (max-width: 500px) {
   .projects__description {
      font-size: $px20;
      font-weight: 450;
   }
}
