.agenda__list {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.list__item {
   //position: relative;

   display: flex;
   gap: 12px;

   font-size: $px18;
}

.list__number {
   // position: absolute;
   // left: -24px;
   // top: 2px;

   padding-top: 2.4px;

   font-size: $px14;
   min-width: 15px;
   text-align: center;
}
