.contener {
   max-width: 680px;
   width: 100%;
   margin: 0 auto;

   position: relative;
}

//SECTION PADDING
.wrapper40px {
   padding-top: 40px;
   padding-bottom: 40px;
}

//TITLE PADDING
.wrapper__title {
   padding-bottom: 32px;

   &-small {
      padding-bottom: 32px;
   }

   &-tiny {
      padding-bottom: 12px;
   }
}

p {
   padding-bottom: 16px;
}

//IMG WRAPPER
.wrapper__image {
   margin-top: 16px;

   display: flex;

   border-radius: 4px;
   overflow: hidden;

   img {
      width: 100%;
   }
}
