.device-mockups {
   display: flex;
   gap: 1rem;

   &--top3 {
      padding-top: 3rem;
   }

   //flex-wrap: wrap;

   &__desktop {
      img {
         max-width: 456px;
         height: auto;
         width: 100%;
      }
   }
   &__mobile {
      img {
         max-width: 220px;
         height: auto;
         width: 100%;
      }
   }
}

.device-mockup {
   img {
      width: 100%;
   }
}

@media (max-width: 500px) {
   .device-mockups {
      flex-wrap: wrap;
      justify-content: center;

      &--invert {
         flex-wrap: wrap-reverse;
      }
   }
}
