//LOGO BLOCK

.plaszka__wrapper {
   background: $plaszka;
}
.logo-mml-features {
   display: flex;
   padding: 32px 0 0 40px;

   justify-content: space-between;
   gap: 2rem;

   &__items {
      display: flex;
      flex-direction: column;

      gap: 32px;
      margin-right: 2rem;
   }

   &__item {
      font-size: $px18;
      font-weight: 500;
      line-height: 140%;

      max-width: 234px;
   }

   &__image {
      width: 340px;
      img {
         width: 100%;
      }
   }
}

// MindMapsLab STRUCTURE GRAPHIC IMAGE wrapper
.mml-image__wrapper {
   width: 100%;

   padding: 45px 116px;
   background: $plaszka;
}

//MOBILE ____________________________________________________________

@media (max-width: 600px) {
   .mml-image__wrapper {
      padding: 40px 56px;
   }
}
@media (max-width: 400px) {
   .mml-image__wrapper {
      padding: 24px 24px;
   }
}

//LOGO
@media (max-width: 620px) {
   .logo-mml-features {
      flex-direction: column;

      padding: 24px 0 0 24px;

      &__items {
         flex-direction: row;
         flex-wrap: wrap;
      }

      &__image {
         width: 100%;
      }
   }
}
