.contener {
   max-width: 680px;
   width: 100%;
   margin: 0 auto;

   position: relative;
}

//SECTION PADDING
.wrapper40px {
   padding-top: 40px;
   padding-bottom: 40px;
}

//TITLE PADDING
.wrapper__title {
   padding-bottom: 20px;

   &-tiny {
      padding-bottom: 12px;
   }
}

p {
   padding-bottom: 16px;
}

//PLASZKA WRAPPER
.plaszka__wrapper {
   background-color: $plaszka;
}

//IMG WRAPPER
.wrapper__image {
   margin-top: 16px;

   display: flex;

   border-radius: 4px;
   overflow: hidden;

   img {
      width: 100%;
   }
}

// MindMapsLab STRUCTURE GRAPHIC IMAGE wrapper
.mml-image__wrapper {
   padding: 45px 116px;
   background: $plaszka;
}
@media (max-width: 600px) {
   .mml-image__wrapper {
      padding: 40px 56px;
   }
}
@media (max-width: 400px) {
   .mml-image__wrapper {
      padding: 24px 24px;
   }
}
